---
import HeaderBg from "@/assets/imgs/header-bg.jpg";
import PageBg from "@/assets/imgs/page-bg.jpg";

import { Head, Scripts, Footer } from "@/components/global";
import { Navbar } from "@/components/Navbar";
import type { MenuLink, SocialIcon } from "@/types/common";

type Props = {
  title: string;
  links: MenuLink[];
  socials: SocialIcon[];
};

const { title, links, socials } = Astro.props as Props;
---

<!doctype html>
<html lang="en-GB">
  <Head title={title} />
  <body
    id="default-page"
    style={{
      backgroundImage: `url(${PageBg.src})`,
    }}
  >
    <main class="tw-w-full">
      <section
        class="page-header tw-py-12"
        style={{
          backgroundImage: `url(${HeaderBg.src})`,
        }}
      >
        <Navbar links={links} />

        <div class="container">
          <div class="row">
            <h1
              class="tw-font-rubik tw-text-5xl tw-text-black-theme tw-font-medium tw-pt-10 tw-pb-6"
            >
              {title}
            </h1>
          </div>
        </div>
      </section>
      <slot />
      <Footer socials={socials} />
    </main>
    <Scripts />
  </body>
</html>

<style>
  .default-page {
    background-position: center, center;
    background-repeat: repeat;
    background-size: cover;
  }

  .page-header {
    background-position: bottom, center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }
</style>
